*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(36, 34, 34, 0.4)), url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
#home-icon{
    width: 125px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    padding: 6px 12px;
    position: relative;
}
.nav-links li a{
    color: #fff;
    font-size: 15px;
}
.nav-links li ul{
    display: none;
    position: absolute;
    background-color: none;
    text-align: left;
}
.nav-links li:hover ul{
    display: block;
}

.nav-links li ul li a{
    text-decoration: none;
}
.nav-links li ul li:hover{
    background-color: rgba(0,0,0,0.4);
    transition: 1s;
}
.nav-links li ul li a{
    color: #fff;
    font-size: 15px;
}
.contact_us{
    width: 100%;
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contact_us h1{
    font-size: 50px;
}
.input_box input[type="text"]{
    width: 235px;
    height: 25px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}
.input_box input#description{
    margin-top: 20px;
    height: 150px;
}
.submit{
    margin-top: 20px;
    background-color: rgba(0,0,0,0.4);
}
.submit a{
    color: gray;
}
.popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #555;
    padding: 5%;
    border: 100%;
    border-radius: 5mm;
    color: #fff;
    visibility: hidden;
}
.popup h2{
    font-size: 50px;
}
.popup p{
    font-size: 30px;
}
.popup button{
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}
@media only screen and (max-width: 1000px){
    .nav-links li a{
        /* color: rgb(255, 0, 0); */
        font-size: 35px;
    }
    .nav-links li ul li a{
        font-size: 35px;
    }
    .contact_us h1{
        font-size: 120px;
        padding-bottom: 40px;
    }
    .input_box input[type="text"]{
        width: 500px;
        height: 35px;
        font-size: 30px;
        text-align: center;
    }
    .input_box input#description{
        height: 450px;
    }
    .submit{
        width: 30%;
        height: 30%;
        font-size: 35px;
    }
    .popup button{
        color: #fff;
        background-color: rgba(0,0,0,0.4);
    }
}
footer{
    width: 100%;
    padding: 60px 0;
    text-align: center;
}
footer p{
    font-weight: 1000;
    margin-top: 25px;
    margin-bottom: 15px;
}
@media only screen and (max-width: 1000px){
    footer h1{
        font-size: 60px;
    }
    footer p{
        font-size: 20px;
    }
}